<div class="padding-top-30 experience">
    <div class="display-flex flex-direction-row align-items-center margin-bottom-20">
        <p class="font-size-lgx font-weight-regular display-inline-block margin-y-0 flex-1">
            {{ include.title }}
        </p>
        <div class="font-size-smx letter-spacing-1 font-weight-bold color-dark-500 padding-x-6 padding-y-3 bg-color-dark-100 year">
            {{ include.year }}
        </div>
    </div>
    <p class="font-weight-regular line-height-md font-size-md color-dark-800"> {{ include.description }} </p>
    <div class="divider">
        <div class="wrapper"></div>
        <hr class="margin-top-30"/>
    </div>
</div>