

<link rel="icon" href="{{ '/assets/imgs/favicon.ico' | relative_url }}">

<!-- Stylesheets -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500&family=Noto+Sans+Devanagari:wght@400&display=swap" rel="stylesheet">
<link href="{{ '/assets/css/index.css' | relative_url }}" rel="stylesheet">

<!-- JavaScript files -->
<script src="{{ '/assets/js/index.js' | relative_url }}" ></script>