<div class="navbar">
    <div class="nav-container bg-active" id="nav-container">
        <div class="wrapper">
            <a href="/" class="logo">@jlgonzales</a>
            <div class="flex-1"></div>
            <div class="nav-wrapper">
                <nav class="underline">
                    <ul>
                        <li>
                            <a href="#work" style="width: 42px">
                                <div class="text">
                                    <span>W</span>
                                    <span>o</span>
                                    <span>r</span>
                                    <span>k</span>
                                </div>
                                <div class="clone">
                                    <span>W</span>
                                    <span>o</span>
                                    <span>r</span>
                                    <span>k</span>
                                </div>
                            </a>
                        </li>
                        <li><a href="#about" style="width: 48px">
                                <div class="text">
                                    <span>A</span>
                                    <span>bo</span>
                                    <span>u</span>
                                    <span>t</span>
                                </div>
                                <div class="clone">
                                    <span>A</span>
                                    <span>bo</span>
                                    <span>u</span>
                                    <span>t</span>
                                </div>
                            </a></li>
                        <li><a href="#testimontials" style="width: 100px">
                                <div class="text">
                                    <span>Tes</span>
                                    <span>tim</span>
                                    <span>ont</span>
                                    <span>ials</span>
                                </div>
                                <div class="clone">
                                    <span>Tes</span>
                                    <span>tim</span>
                                    <span>ont</span>
                                    <span>ials</span>
                                </div>
                            </a></li>
                        <li><a href="#contact" style="width: 66px">
                                <div class="text">
                                    <span>C</span>
                                    <span>on</span>
                                    <span>ta</span>
                                    <span>ct</span>
                                </div>
                                <div class="clone">
                                    <span>C</span>
                                    <span>on</span>
                                    <span>ta</span>
                                    <span>ct</span>
                                </div>
                            </a></li>
                    </ul>
                </nav>
            </div>
            <span id="menu" class="menu"></span>
        </div>
        <div id="collapsible" class="collapse">
            <nav>
                <ul>
                    <li>
                        <a href="#work">Work</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#testimontials">Testimontial</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>